[Unit]
Description=RoboPiLink connection service
Wants=pigpiod.service
StartLimitIntervalSec=1
After=pigpiod.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/env robopilinkd
ExecStop=/bin/systemctl kill robopilinkd

[Install]
WantedBy=multi-user.target